body{
	background:url( ./img/bg.png);
}
.half{
	display: block;
	float: left;
	width: 50%;
}
.one3{
	display: block;
	float: left;
	width: 35%;
}
.two3{
	display: block;
	float: left;
	width: 65%;
}

.reveal .progress {
	height: 10px;
}

.reveal .overlight{
	background-color: rgba(0, 0, 0, 0.7);
  	padding: 30px;
}
.reveal ul.overlight{
	  padding: 30px 110px;
}

.reveal h2.purple{
	color:#9a589a;
}
.reveal h2.teal{
	color:#4eba99;
}

.two001{
  width: 800px;
  height: auto;
}


.reveal pre.code{
	padding: 30px;
  background-color: #000;
}

.jsmark-f{color:#ff9e52;}
.jsmark-m{color:#9a589a;}
.jsmark-par{color:#4eba99;}
.jsmark-q{color:#f0cd84;}
.jsmark-str{color:#f0f3e4;}
.jsmark-closing{color:#f0cd84;}


.reveal .progress span.progress-inner{
	text-align: right;
	bottom: 30px;
	display: block;
	width: 100%;
	position: relative;
	background-color: rgba(0, 0, 0, 0);
	font-size: 17px;
}

.reveal section img.clean{
	border:none;
	background: none;
	box-shadow: none;
}

.reveal section img.netscape{
	width: 200px;
	height: auto;
}

.purple{color:#9a589a;}
.orange{color:#ff9e52;}
.teal{color:#4eba99;}

.form-group {
	position: relative;
	width: 500px;
}

.form-group label {
	position: absolute;
	font-size: 16px;
	top:0px;
	left:5px;
	color: #666;
}

.form-group input {
	height: 60px;
	width:100%;
	padding-left: 5px;
	font-size: 28px;
}